<h1>Seja bem vindo ao curso de Angular</h1>
<h4 class="text-danger">{{anuncio}}</h4>

<div class="card" style="width: 18rem;">
    <img [src]="foto" alt="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{nomeProduto | uppercase}}</h5>
        @if(promocao)
        {
            <span class="badge text-bg-success">Promoção</span>
        }
        @else
        {
            <span class="badge text-bg-primary">Aproveite</span>
        }
        <!-- <span *ngIf="promocao; else elseBlock" class="badge text-bg-success">Promoção</span>
            <ng-template #elseBlock>
                <span class="badge text-bg-primary">Aproveite</span>
            </ng-template>-->




        <p class="card-text">Identificação {{idProduto | number: '2.0-0'}}</p>
        <p class="card-text">Validação: {{dataValidade | date: 'shortDate'}}</p>
        <a href="#" class="btn btn-primary float-end"> {{precoProduto | currency:'BRL'}}</a>
    </div>
</div>